streamlit
tensorflow
pillow  # loading images
numpy
huggingface-hub
opencv-python-headless #processing img
matplotlib
seaborn
python-docx #report
fastapi  #backend
uvicorn   #fastapi part
python-multipart #also
jinja2 #for making templates